@import "/design-system/allStyles.scss";

.profile-banner {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    cursor: default;
    .name-and-pic {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: $spacing-10;
        align-items: center;
        h1 {
            color: var(--primary);
            font-size: 64px;
            font-weight: 700;
            line-height: 120%;
        }
    }
    .job-title h2 {
        color: var(--text);
        font-size: 52px;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
    }
    @media (max-width: 1050px) {
        gap: $spacing-5;
        .name-and-pic {
            gap: $spacing-7;
            h1 {
                font-size: 48px;
            }
        }
        .job-title h2 {
            font-size: 42px;
        }
        .my-pic-container {
            width: 360px;
        }
    }
    @media (max-width: 815px) {
        .name-and-pic {
            h1 {
                font-size: 40px;
            }
        }
        .job-title h2 {
            font-size: 30px;
        }
        .my-pic-container {
            width: 230px;
            border-width: 6px;
        }
    }
    @media (max-width: 630px) {
        gap: $spacing-3;
        .name-and-pic {
            gap: $spacing-4;
            h1 {
                font-size: 24px;
            }
        }
        .my-pic-container {
            width: 130px;
            border-width: 4px;
        }
    }
}

.my-pic-container {
    width: 360px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid var(--my-img-border-and-shadow);
    background: linear-gradient(180deg, var(--path-start) 8.9%, var(--path-stop) 100%);
    img {
        height: 100%;
        filter: drop-shadow(2px -10px 4px var(--my-img-border-and-shadow));
    }
}
