@import "/design-system/allStyles.scss";

#modal {
    position: absolute;
}
.ant-modal-wrap {
    .ant-modal-content {
        background-color: var(--background-level-2);
        .ant-modal-close {
            span {
                color: var(--text);
            }
        }
        .ant-modal-title {
            border-bottom: 1px solid var(--text);
            color: var(--text);
            font-weight: 400;
            font-size: 22px;
        }
        .ant-modal-header {
            background: inherit;
        }

        .theme-controls {
            display: flex;
            flex-direction: column;
            gap: $spacing-6;
            .mode,
            .themes {
                display: flex;
                flex-direction: column;
                gap: $spacing-2;
                p {
                    color: var(--text);
                    font-size: 19px;
                }
            }
        }
    }
    @media (max-width: 500px) {
        &.ant-modal-centered {
            div.ant-modal {
                vertical-align: bottom;
                margin: 0;
                max-width: 100%;
                .ant-modal-content {
                    border-radius: 0;
                }
            }
        }
    }
}
