@import "/design-system/allStyles.scss";

.contact-me {
    border-radius: 60px;
    background: var(--background-level-2);

    box-shadow: var(--box-shadow);
    display: flex;
    width: 946px;
    padding: 48px;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    .title {
        color: var(--primary);
        font-size: 27px;
        font-weight: 700;
        line-height: 120%;
    }
    .form-and-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .details {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 45%;
            justify-content: space-between;
            img {
                max-height: 220px;
            }
            .contact-info {
                display: flex;
                flex-direction: column;
                gap: $spacing-2;
                align-self: center;
                .specific-info {
                    display: flex;
                    flex-direction: row;
                    gap: $spacing-4;
                    align-items: center;
                    color: var(--secondary);
                    p {
                        font-size: 20px;
                        line-height: 30px;
                    }
                    .anticon,
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                    &.copiable {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
