@import "/design-system/allStyles.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Baloo 2", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
    flex-grow: 1;
}

.grouping {
    padding: 114px 0 0;
    @media (max-width: 700px) {
        padding: 57px 0 0;
        &:first-child {
            padding: 84px 0 0;
        }
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
    overflow: hidden;

    .information-content {
        background: transparent;
        align-self: center;
    }
}
.ant-notification-notice {
    .ant-notification-notice-content {
        .ant-notification-notice-with-icon {
            .ant-notification-notice-message {
                line-height: 1.1;
                margin-inline-start: 28px;
            }
            .ant-notification-notice-description {
                margin-inline-start: 28px;
            }
        }
    }
}
