@import "/design-system/allStyles.scss";

.experiences {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: $spacing-8;
    .the-end,
    .the-start {
        color: var(--secondary);
        align-self: center;
        opacity: 0;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .exp-container {
        @media (max-width: 730px) {
            width: 100%;
            padding: 0 12px;
        }
    }
    svg {
        overflow: visible;
        width: 1150px;
        @media (max-width: 1180px) {
            width: 700px;
        }
        @media (max-width: 730px) {
            width: 100%;
        }
    }
    .exp-info {
        background: transparent;
        padding: 20px;
        border-radius: $border-radius-xlarge;
        box-shadow: var(--box-shadow);
        gap: $spacing-1;
        max-width: 420px;
        .exp-details {
            display: flex;
            flex-direction: column;
            .title {
                color: var(--subtitle);
                font-size: 15px;
                font-weight: 500;
            }
        }
        ul.responsibilities {
            list-style-position: inside;
            li {
                padding: $spacing-1 0;
                font-size: 17px;
                color: var(--text);
            }
        }
    }
}
