@import "variables";

@each $theme, $theme-modes in $colors {
    @each $mode, $color-values in $theme-modes {
        .#{$theme}-#{$mode}-theme {
            --primary: #{map-get($color-values, "primary")};
            --secondary: #{map-get($color-values, "secondary")};
            --box-shadow: #{map-get($color-values, "box-shadow")};
            --path-start: #{map-get($color-values, "path-start")};
            --path-stop: #{map-get($color-values, "path-stop")};
            --project-bg: #{map-get($color-values, "project-bg")};
        }
    }
}

@each $mode, $theme-values in $themes {
    .#{$mode}-mode {
        --background: #{get-theme-value($mode, "background")};
        --background-level-2: #{get-theme-value($mode, "background-level-2")};
        --text: #{get-theme-value($mode, "text")};
    }
}
