@import "variables";

@each $theme, $theme-colors in $colors {
    .#{$theme}-theme {
        --primary: #{get-color($theme, "primary")};
        --secondary: #{get-color($theme, "secondary")};
        --box-shadow: #{get-color($theme, "box-shadow")};
        --path-start: #{get-color($theme, "path-start")};
        --path-stop: #{get-color($theme, "path-stop")};
    }
}

@each $mode, $theme-values in $themes {
    .#{$mode}-mode {
        --background: #{get-theme-value($mode, "background")};
        --background-level-2: #{get-theme-value($mode, "background-level-2")};
        --footer-background: #{get-theme-value($mode, "footer-background")};
        --text: #{get-theme-value($mode, "text")};
    }
}
