// Primary
$primary-100: #14c19f;
$primary-200: #12aa8c;
$primary-300: #0f9379;
$primary-400: #0d7c66;
$primary-500: #0b6553;
$primary-600: #084e40;
$primary-700: #06372d;

// secondary
$secondary-100: #f3ecfb;
$secondary-200: #e5d8f6;
$secondary-300: #d7c3f1;
$secondary-400: #c9aeec;
$secondary-500: #bb9ae7;
$secondary-600: #ae85e3;

// Accent
$accent-100: #f6fcf8;
$accent-200: #e3f5e8;
$accent-300: #d0efd9;
$accent-400: #bde8ca;
$accent-500: #aae1bb;
$accent-600: #97dbac;
$accent-700: #84d49c;

// special
$special-100: #74cdbf;
$special-200: #61c6b7;
$special-300: #4fbfae;
$special-400: #41b3a2;
$special-500: #3aa091;
$special-600: #338e80;
$special-700: #2d7b6f;

// Success
$success-100: #b8dab8;
$success-200: #96c996;
$success-300: #66b066;
$success-400: #49a149;
$success-500: #1b891b;
$success-600: #197d19;
$success-700: #136113;
$success-800: #0f4b0f;
$success-900: #0b3a0b;

// Info
$info-100: #b1ecff;
$info-200: #97e6ff;
$info-300: #7edfff;
$info-400: #64d9ff;
$info-500: #4bd3ff;
$info-600: #31ccff;
$info-700: #18c6ff;

// Danger
$danger-100: #db7070;
$danger-200: #d65c5c;
$danger-300: #d14747;
$danger-400: #cc3333;
$danger-500: #b82e2e;
$danger-600: #a32929;
$danger-700: #8f2424;

// Grey
$grey-50: #f5f5f5;
$grey-100: #e1e1e1;
$grey-200: #d2d2d2;
$grey-300: #bebebe;
$grey-400: #b1b1b1;
$grey-500: #9e9e9e;
$grey-600: #909090;
$grey-700: #707070;
$grey-800: #575757;
$grey-900: #424242;

// White
$white-50: #ffffff;
$white-100: #fdfdfe;
$white-200: #fdfdfe;
$white-300: #fcfcfe;
$white-400: #fbfbfd;
$white-500: #fafafd;
$white-600: #e4e4e6;
$white-700: #b2b2b4;
$white-800: #8a8a8b;
$white-900: #69696a;

// Black
$black-50: #eae9ea;
$black-100: #bdbcbf;
$black-200: #9d9ca0;
$black-300: #706e75;
$black-400: #55525a;
$black-500: #2a2731;
$black-600: #26232d;
$black-700: #1e1c23;
$black-800: #17151b;
$black-900: #121015;

// back-ground
$back-ground: #fbfefa;
