.projects {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: 1250px;
    .project {
        display: flex;
        align-items: center;
        gap: 72px;
        padding: 0 36px;
        .project-pic {
            position: relative;
            min-width: 40%;
            max-width: 40%;
            height: fit-content;
            svg {
                width: 100%;
                height: fit-content;
            }
            .img-project-container {
                width: 100%;
                position: absolute;
                top: -4px;
                right: -23px;
                overflow: hidden;
                border-radius: 50%;
                border: 10px solid var(--primary);
                img {
                    width: 100%;
                }
                @media (max-width: 1150px) {
                    border-width: 7px;
                }
            }
        }
        &.pic_first {
            flex-direction: row;
            .project-pic {
                svg {
                    transform: scaleX(-1);
                }
            }
        }
        &.text_first {
            flex-direction: row-reverse;
            .project-pic {
                .img-project-container {
                    right: unset;
                    left: -23px;
                }
            }
        }
        .details {
            display: flex;
            gap: 16px;
            cursor: default;
            .text-details {
                display: flex;
                flex-direction: column;
                gap: 12px;
                .title-and-skills {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    .title {
                        color: var(--secondary);
                        font-size: 28px;
                        font-weight: 500;
                        line-height: 120%;
                    }
                    .skills {
                        display: flex;
                        gap: 8px;
                        flex-wrap: wrap;
                        .skill {
                            display: flex;
                            padding: 10px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 32px;
                            background: var(--background-level-2, #212121);
                            color: var(--primary);
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                }
                .description {
                    color: var(--text);
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
            @media (max-width: 900px) {
                flex-direction: column;
                .text-details {
                    .title-and-skills {
                        .title {
                            font-size: 24px;
                        }
                        .skills {
                            gap: 6px;
                            .skill {
                                padding: 8px 9px;
                                gap: 10px;
                                font-size: 16px;
                            }
                        }
                    }
                    .description {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    @media (max-width: 650px) {
        gap: 48px;
        .project {
            &.text_first,
            &.pic_first {
                flex-direction: column;
                gap: 32px;
            }
            .project-pic {
                min-width: 60%;
                max-width: 60%;
            }
            .details {
                width: 100%;
            }
        }
    }
    @media (max-width: 450px) {
        gap: 36px;
        .project {
            &.text_first,
            &.pic_first {
                gap: 24px;
            }
            .project-pic {
                min-width: 80%;
                max-width: 80%;
                height: auto;
            }
            .details {
                .text-details {
                    .title-and-skills {
                        .title {
                            font-size: 21px;
                        }
                        .skills {
                            gap: 5px;
                            .skill {
                                padding: 5px 6px;
                                font-size: 14px;
                            }
                        }
                    }
                    .description {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
