@import "/design-system/allStyles.scss";

div.ant-radio-group.themes-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-2;
    label.ant-radio-wrapper {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--text);
        border-radius: $border-radius-large;
        margin: 0;
        max-width: 162px;
        min-width: 162px;
        justify-content: center;
        align-items: center;
        padding: $spacing-2 $spacing-4;
        &-checked {
            border-color: var(--primary);
            outline: 3px solid var(--primary);
        }
        &:hover {
            border-color: var(--primary);
        }
        &::after {
            display: none;
        }
        span.ant-radio {
            display: none;
        }
        span {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            color: var(--text);
            padding-inline: unset;
            gap: $spacing-2;
            align-items: center;
            div.circle {
                min-width: 40px;
                min-height: 40px;
                border-radius: 50%;
            }
        }
        &.coastal-sunset {
            div.circle {
                background: linear-gradient(to right, #66cdaa 50%, #ffdab9 50%);
            }
        }
        &.mint-lavender {
            div.circle {
                background: linear-gradient(to right, #77dd77 50%, #cbc3e3 50%);
            }
        }
        &.blossom-breeze {
            div.circle {
                background: linear-gradient(to right, #ffb6c1 50%, #98ff98 50%);
            }
        }
        &.periwinkle-mist {
            div.circle {
                background: linear-gradient(to right, #b68cb8 50%, #b3d1ff 50%);
            }
        }
    }
}
